.navbar-new {
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 10px; 
    background-color: lightgray;
    overflow: hidden;
    padding: 10px; 
}

.nav-link {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    width: 100px;
    height: 28px;
    text-decoration: none;
    font-size: 17px; 
    border-radius: 25px;
}

.nav-link:hover {
    background-color: grey;
    color: black;
}

.nav-link.active {
    background-color: rgba(255, 40, 0, 0.65);
    color: white;
    border: 3px solid #FF2800;
}

.f1-logo {
    height: 30px;
    width: 38px;
}